body{
    background: linear-gradient(225deg, rgba(34,54,54,1) 0%, rgba(20,25,25,1) 100%);
    background-size: 100% 100%;
    color: white;
    justify-content: center;
}
html{
    height: 100%;
}
header{
    font-family:'Trebuchet MS',sans-serif;
    font-size: 20px;
    height:100px;
    position:absolute;
    margin-left: 10px;
    margin-top: -20px;   
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height if needed */
}

.transparentDiv{
    position:absolute;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0);
}
.dataContainer{
    text-align:right;
    margin:auto;
    padding:20px;
}
.firstRow{
    display: flex;
    flex-direction: row;
    align-items: flex-start
}.statContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    font-size: 24px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .statContainer button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    background-color: #AAAAAA;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .statContainer button:hover {
    background-color: #2196F3;
  }
  
.inputContainer{
    text-align: left;
    margin: 10px;
    padding: 10px;
}
.inputBox{
    color: transparent;
    text-shadow: 0 0 0 #000000;
    font-family: courier;
    background-color: antiquewhite;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 3px;    font-size: 20px;
    width:700px;
    height:30px;
    padding: 7px;
}
.inputBox:focus{
    outline:none;
}
.textBox{
    min-width:700px;
    font-size: 20px;
    color: rgb(34, 34, 34);
    padding: 7px;
    margin: auto;
    width: 500px;
    height: 300px;
    background-color: antiquewhite;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 3px;
    font-family: courier;
}
footer{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .button:active {
    background-color: #3e8e41;
  }
  